:root {
  --c-violet: lab(47 38 -82);
  --c-violet-800: lab(47 38 -82 / .8);
  --c-violet-600: lab(47 38 -82 / .6);
  --c-violet-400: lab(47 38 -82 / .4);
  --c-violet-200: lab(47 38 -82 / .2);

  --c-dark-gray: lab(16 -1 -3);

  --c-white: lab(100 -0 0);

  --h-header: 88px;
}

* {
  font-family: Inter;
}

.nuxt-icon svg {
  margin-bottom: 0 !important;
}

.icon {
  &.lg {
    &.nuxt-icon svg {
      inline-size: 32px;
      block-size: 32px;

      @media (width >= 640px) {
        inline-size: 50px;
        block-size: 50px;
      }
    }
  }
}

.el-plus {
  &.btn {
    &.link {
      &.purple {
        --el-button-text-color: var(--c-violet);
        --el-button-hover-link-text-color: var(--c-violet-800);
        --el-button-active-color: var(--c-violet-600);
      }
    }
  }

  &.theme-switcher {
    --el-switch-on-color: var(--c-dark-gray);
    --el-switch-off-color: var(--c-white);

    .is-icon {
      font-size: 20px !important;
    }

    .el-switch__action {
      background-color: var(--c-dark-gray);
    }

    &.is-checked {
      .el-switch__action {
        background-color: var(--c-white);
      }
    }
  }
}
